<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="author" content="{{ page.author | default: site.author }}">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | escape }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
{% for extra in site.head-extra %}{% include {{ extra }} %}{% endfor %}